@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("../../public/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Condensed\ Regular\ TheFontsMaster.com.otf");
}
@font-face {
    font-family:  'Proxima Nova';
    src: url('../../public/fonts/proximanova_regular.ttf');
}